.menu_title {
    padding: 0px 20px 20px 20px;
    hr {
        margin: 15px 30px 5px 30px;
        // background-color: aquamarine;
    }
    h1 {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: 100px;
        font-weight: 600;
        font-family: sans-serif
    }
}