<!-- <header>
    <app-menu-bar/>
</header> -->
<app-menu-title />
<div class="articles">
  <div class="articlesMain">
    <app-big-card
      [id]="dataFake[0].id"
      [photoCard]="dataFake[0].photoCard"
      [titleCard]="dataFake[0].titleCard"
      [textCard]="dataFake[0].textCard"
    />
  </div>
  <div class="articlesOthers">
    <app-small-card
      [id]="dataFake[1].id"
      [photoCard]="dataFake[1].photoCard"
      [titleCard]="dataFake[1].titleCard"
    />
    <app-small-card
      [id]="dataFake[2].id"
      [photoCard]="dataFake[2].photoCard"
      [titleCard]="dataFake[2].titleCard"
    />
    <app-small-card
      [id]="dataFake[3].id"
      [photoCard]="dataFake[3].photoCard"
      [titleCard]="dataFake[3].titleCard"
    />
  </div>
</div>
