<div>

  <div class="containerMenuBar">
    <ul>
      <a
        href="https://www.linkedin.com/in/erick-william-16ab4a238/"
        target="_blank"
      >
        <img
          align="center"
          src="https://img.shields.io/badge/-ErickWilliam-05122A?style=flat&logo=linkedin"
          alt="linkedin"
        />
      </a>
      <a href="https://www.instagram.com/erickwillian49/" target="_blank">
        <img
          align="center"
          src="https://img.shields.io/badge/-ErickWilliam-05122A?style=flat&logo=instagram"
          alt="instagram"
        />
      </a>
      <a href="https://github.com/Erickwsantos" target="_blank">
        <img
          align="center"
          src="https://img.shields.io/badge/-ErickWilliam-05122A?style=flat&logo=github"
          alt="github"
        />
      </a>
    </ul>
  
  </div>
  <hr />
</div>
